/************************************
  Monstra
  default.css
*************************************
  CONTENTS
    1. GENERAL
    2. COMPONENTS
    3. MEDIA QUERIES

*************************************
    1. GENERAL
*************************************/

@font-face {
    font-family: 'Glyphicons Halflings';

    src: url('@site_url/public/assets/fonts/glyphicons-halflings-regular.eot');
    src: url('@site_url/public/assets/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
    url('@site_url/public/assets/fonts/glyphicons-halflings-regular.woff') format('woff'),
    url('@site_url/public/assets/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
    url('@site_url/public/assets/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

body {
	margin-top: 80px;
}

/* Admin Form */
.login-body {
	background: url(/admin/themes/clean/images/grey_wash_wall.png) repeat;	    
}

.login-body a {
	color: #ff851b;
}
.form-signin {
    max-width: 400px;
}

.container .form-signin {
    margin-top: 40px;
}

.form-signin .administration-area,
.form-signin .reset-password-area {
    margin-top: 40px;
    max-width: 400px;
    background-color: #fff;
    color: #000;
    border: 1px solid #e76b00;
    -webkit-box-shadow: 10px 10px 38px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 38px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 38px 0px rgba(0,0,0,0.75);
}


/* Error Messages */

.error-message {
	color: red;
	font-weight: 700;
}
	
/* Margin Adjustments */
.vertical-align {
    display: table;

    width: 100%;
}

.vertical-align > div {
    display: table-cell;

    vertical-align: middle;
}

.vertical-align > div > h1,
.vertical-align > div > h2,
.vertical-align > div > h3,
.vertical-align > div > h4,
.vertical-align > div > h5 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.margin-top-1 {
    margin-top: 1em;
}

.margin-top-2 {
    margin-top: 2em;
}

.margin-bottom-1 {
    margin-bottom: 1em;
}

.margin-bottom-2 {
    margin-bottom: 2em;
}

.btn-expand {
	font-weight: 900;
	font-size: 2em;
	text-decoration: none !important;
}

